<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Install" });
    });
  </script>
<% end %>

<h1>New Theme Installation</h1>

<%= render 'form', theme_installation: @theme_installation %>

<%= link_to 'Back', theme_installations_path %>
